server {

    listen 80;
    server_name mlapi.abrigham.localhost;

    # For https
    # listen 443 ssl;
    # ssl_certificate /etc/nginx/ssl/default.crt;
    # ssl_certificate_key /etc/nginx/ssl/default.key;

    root /var/www/public/MovieReviewClassifier;

    location / {
        proxy_pass http://mlapi-upstream;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location ~ /\.ht {
        deny all;
    }
}
